body{
	background: #BEBEBE;
	margin: 0px;
	border: 0px;
}
ul {
  list-style-type: none;
  margin: 15px,0,0,20px;
  padding: 15px,0,0,20px;
	margin-top: 10px !important;

}
h3{
	font-size: 20px;
	color: black;
}
li a,img{
		display: inline-block;
}
#header{
	width: auto;
	height: 110px;
	background: #BEBEBE;
	color: white;
}
#sidemenu{
	float: left;
	width: 300px;
	background: #BEBEBE;
	color: white;

}
#data{
	width: auto;
	background:#BEBEBE;
	color: black;
	padding-left:330px;
	height: 700px;;
}
#head_img{
	background:white;
	border-radius:50px;
}
#sidemenu.ul li{
	display: inline-block;
	padding-bottom: 10px;


}
#sidemenu li{
	padding-bottom: 30px;
	border-bottom: 3px solid grey;
    list-style-type: none;
}
#sidemenu li:hover {
	background: #ffff;
	padding-left:10px;
    -moz-transition: padding-left .3s ease-in;
    -o-transition: padding-left  .3s ease-in;
    -webkit-transition: padding-left  .3s ease-in;
    transition: padding-left  .3s ease-in;

}
#sidemenu a{
	text-decoration:none;
  font-size: 20px;
  text-align: center;
  margin-left: 20%;
  color: #1E1E1E;

}
#sidemenu a:hover{
  color:#8E8E8E;
}
#back{
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#back:hover{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
#back{
	width: 50px;
	height: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#back:hover{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
img{
	width: 70px;
	height: 70px;

	}

table {
  border-collapse: collapse;
	width: 1000px;

}

table, th, td {
  border: 1px solid black;
}
.t1{
	width: 400px;
	height: 100px;
}
